
<div class="header-modules">
    <div class="banner" id="banner0">
        <div>
            <a href="">
                <img title="summer vacation" alt="summer" src="~/Content/Images/banner-1-230x320.jpg" />
            </a>
        </div>
    </div>
    <div class="slideshow">
        <div id="slideshow0" style="width: 470px; height: 320px; position: relative;"></div>
    </div>
    <div class="banner" id="banner1">
        <div>
            <a href="">
                <img title="" alt="" src="~/Content/Images/banner-2-230x320.jpg" />
            </a>
        </div>
    </div>
    <div class="banner" id="banner2">
        <div>
            <a href="">
                <img title="" alt="" src="~/Content/Images/banner-3-230x123.jpg" />
            </a>
        </div>
        <div>
            <a href="">
                <img title="" alt="" src="~/Content/Images/banner-4-230x123.jpg" />
            </a>
        </div>
        <div>
            <a href="">
                <img title="" alt="" src="~/Content/Images/banner-5-230x123.jpg" />
            </a>
        </div>
    </div>
    <div class="banner" id="banner3">
        <div>
            <a href="">
                <img title="" alt="" src="~/Content/Images/facebook-230x63.jpg" />
            </a>
        </div>
    </div>
    <div class="banner" id="banner4">
        <div>
            <a href="">
                <img title="" alt="" src="~/Content/Images/twitter-230x60.jpg" />
            </a>
        </div>
    </div>
    <div class="clear"></div>
</div>