@model OnLeave.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "ResetPasswordEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb">
    @Html.ActionLink("Home", "Index", "Home")
    » @Html.ActionLink("Account", "Login", "Account")
    » <div style="display:inline" class="last">ResetPasswordEmail</div>
</div>

<h1>Email Has Been Sent!</h1>

<div class="box-container">
    <p>
        Instruction to reset you password has been sent to @Model.Email! 
        <br />
        Please check email!
    </p>
        
    <div class="buttons">
        <div class="left"><a class="button" href=@Url.Action("Login", "Account")><span>Continue</span></a></div>
    </div>
</div>


