BEGIN TRY
	BEGIN TRANSACTION

	ALTER TABLE dbo.UtilityBuildingLocale ALTER COLUMN Description NVARCHAR(2000) NULL
	ALTER TABLE dbo.UtilityBuildingLocale ALTER COLUMN Name NVARCHAR(255) NULL
	ALTER TABLE dbo.UtilityBuildingLocale ALTER COLUMN ContactPerson NVARCHAR(255) NULL
	ALTER TABLE dbo.UtilityBuildingLocale ALTER COLUMN Address NVARCHAR(255) NULL

	COMMIT TRANSACTION

END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION
END CATCH